* {
    box-sizing:  border-box;
    font-family: 'Quicksand', 'sans-serif';
}

html, body{
    margin: 0;
}

.main-container {
    background-image: url("https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

/* style the h2 welcome text */
.login-title {
    margin: 0;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 2.5em;
}

/* style the input field container*/
.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* style the input field labels e.g username, password*/
.form-element label {
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    margin-bottom: 7px;
}

/* style the input field */
.form-element input{
    font-size: 1.5em;
    padding: 0.1 0.25em;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsla(201, 100%, 6%);
    border-radius: 5px;
    outline: none;
    color: white;
    font-weight: lighter;
}

/* style the input field focus*/
.form-element input:focus{
    border: 1px solid hsla(201, 100%, 50%);
}

.login-button {
    margin-top: 20px;
    background-color: hsla(201, 100%, 50%, 0.1);
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid hsla(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    cursor: pointer;
}

.login-button:hover {
    background-color: hsla(201, 100%, 50%, 0.3);
}

.login-button:focus {
    background-color: hsla(201, 100%, 50%, 0.5);
}
