* {
    box-sizing:  border-box;
    font-family: 'Quicksand', 'sans-serif';
}

html, body{
    margin: 0;
}

.main-container {
    background-image: url("https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

.login-title {
    margin: 0;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 2.5em;
}

.form-element {
    margin: 0;
    display: flex;
    flex-direction: column;
}